@using Godius.RankSite.Helpers;
@model Godius.Data.Models.Guild
@{
    var currentRankingDate = ViewData["Date"] as DateTime?;
    var weeklyRanks = ViewData["WeeklyRanks"] as List<WeeklyRank>;
    ViewData["Title"] = $"{Model.Name} 길드원 랭킹 ({currentRankingDate?.ToShortDateString()})";
}

<br />
<ul class="nav nav-tabs" id="categoryTab">
    <li class="active">
        <a href="#perPosition" data-toggle="tab">직급별</a>
    </li>
    <li>
        <a href="#perRanking" data-toggle="tab">랭킹별</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="perPosition">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width:45px">직급</th>
                    <th>아이디</th>
                    <th>랭킹</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var sortedMemberByPositionList = Model.Characters.Where(C => C.IsActivated)
                                                                                 .OrderByDescending(C => C.GuildPosition)
                                                                                 .ThenBy(C => C.Name)
                                                                                 .ToList();
                    foreach (var member in sortedMemberByPositionList)
                    {
                        var currentRank = member.Ranks.FirstOrDefault(R => R.Date == currentRankingDate);
                        var lastRank = member.Ranks.FirstOrDefault(R => R.Date == currentRankingDate?.AddDays(-7));

                        if (currentRank == null)
                        {
                            continue;
                        }

                        var rankText = "";
                        if (lastRank != null)
                        {
                            if (lastRank.Ranking > currentRank.Ranking)
                            {
                                rankText = $"{currentRank.Ranking} 위 <a name='rankText' data-id='{member.Id}' data-url='/MemberRank/GetAllRanks'><span class='text-danger' style='font-size: 12px;text-decoration: underline;'> (<i class='glyphicon glyphicon-arrow-up'></i> {Math.Abs(currentRank.Ranking - lastRank.Ranking)})</span></a>";
                            }
                            else if (lastRank.Ranking < currentRank.Ranking)
                            {
                                rankText = $"{currentRank.Ranking} 위 <a name='rankText' data-id='{member.Id}' data-url='/MemberRank/GetAllRanks'><span class='text-primary' style='font-size: 12px;text-decoration: underline;'>(<i class='glyphicon glyphicon-arrow-down'></i> {Math.Abs(currentRank.Ranking - lastRank.Ranking)})</span></a>";
                            }
                            else
                            {
                                rankText = $"{currentRank.Ranking} 위 <a name='rankText' data-id='{member.Id}' data-url='/MemberRank/GetAllRanks'><span class='text-secondary' style='font-size: 12px;text-decoration: underline;'>(<i class='glyphicon glyphicon-minus'></i>)</span></a>";
                            }
                        }
                        else
                        {
                            rankText = $"{currentRank.Ranking} 위 <span class='text-danger' style='font-size: 12px;text-decoration: underline;'>(New)</span>";
                        }

                    <tr>
                        @if (member.GuildId == Model.Id)
                        {
                            <td align="center">@Html.Raw(GuildPositionsToImageConverter.GetPosisionImage(member.GuildPosition.GetValueOrDefault(GuildPositions.Newbie)))</td>
                        }
                        else
                        {
                            <td align="center"></td>
                        }
                        <td style="vertical-align:middle"><b>@Html.DisplayFor(model => member.Name)</b></td>

                        <td style="vertical-align:middle">@Html.Raw(rankText)</td>
                    </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="perRanking">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="width:80px">순위</th>
                    <th style="width:45px">직급</th>
                    <th>아이디</th>
                    <th>랭킹</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var sortedRankList = weeklyRanks.Where(WR => WR.Date == currentRankingDate)
                                                    .OrderBy(WR => WR.Ranking)
                                                    .ToList();

                    var lastWeeklyRankList = weeklyRanks.Where(WR => WR.Date == currentRankingDate?.AddDays(-7));

                    for (int i = 1; i <= sortedRankList.Count; i++)
                    {
                        var sortedRank = sortedRankList[i - 1];
                        var member = sortedRank.Character;
                        var lastWeeklyRank = lastWeeklyRankList.FirstOrDefault(WR => WR.CharacterId == member.Id);

                        var currentRank = member.Ranks.FirstOrDefault(R => R.Date == currentRankingDate);
                        var lastRank = member.Ranks.FirstOrDefault(R => R.Date == currentRankingDate?.AddDays(-7));

                        var weeklyRankText = "";
                        if (lastWeeklyRank != null)
                        {
                            if (lastWeeklyRank.Ranking > i)
                            {
                                weeklyRankText = $"{i} <a name='rankText' data-id='{member.Id}' data-url='/MemberRank/GetAllWeeklyRanks'><span class='text-danger' style='font-size:12px'>(<i class='glyphicon glyphicon-arrow-up'></i> {Math.Abs(i - lastWeeklyRank.Ranking)})</span></a>";
                            }
                            else if (lastWeeklyRank.Ranking < i)
                            {
                                weeklyRankText = $"{i} <a name='rankText' data-id='{member.Id}' data-url='/MemberRank/GetAllWeeklyRanks'><span class='text-primary' style='font-size:12px'>(<i class='glyphicon glyphicon-arrow-down'></i> {Math.Abs(i - lastWeeklyRank.Ranking)})</span></a>";
                            }
                            else
                            {
                                weeklyRankText = $"{i} <a name='rankText' data-id='{member.Id}' data-url='/MemberRank/GetAllWeeklyRanks'><span class='text-secondary' style='font-size:12px'>(<i class='glyphicon glyphicon-minus'></i>)</span></a>";
                            }
                        }
                        else
                        {
                            weeklyRankText = $"{i} <span class='text-danger' style='font-size:12px'>(New)</span>";
                        }

                        var rankText = "";
                        if (lastRank != null)
                        {
                            if (lastRank.Ranking > currentRank.Ranking)
                            {
                                rankText = $"{currentRank.Ranking} 위 <a name='rankText' data-id='{member.Id}' data-url='/MemberRank/GetAllRanks'><span class='text-danger' style='font-size:12px'>(<i class='glyphicon glyphicon-arrow-up'></i> {Math.Abs(currentRank.Ranking - lastRank.Ranking)})</span></a>";
                            }
                            else if (lastRank.Ranking < currentRank.Ranking)
                            {
                                rankText = $"{currentRank.Ranking} 위 <a name='rankText' data-id='{member.Id}' data-url='/MemberRank/GetAllRanks'><span class='text-primary' style='font-size:12px'>(<i class='glyphicon glyphicon-arrow-down'></i> {Math.Abs(currentRank.Ranking - lastRank.Ranking)})</span></a>";
                            }
                            else
                            {
                                rankText = $"{currentRank.Ranking} 위 <a name='rankText' data-id='{member.Id}' data-url='/MemberRank/GetAllRanks'><span class='text-secondary' style='font-size:12px'>(<i class='glyphicon glyphicon-minus'></i>)</span></a>";
                            }
                        }
                        else
                        {
                            rankText = $"{currentRank.Ranking} 위 <span class='text-danger' style='font-size:12px'>(New)</span>";
                        }

                        <tr>
                            <td style="vertical-align:middle">
                                @if (i <= 10)
                                {
                                    <b>@Html.Raw(weeklyRankText)</b>
                                }
                                else
                                {
                                    @Html.Raw(weeklyRankText)
                                }
                            </td>
                            @if (member.GuildId == Model.Id)
                            {
                                <td align="center">@Html.Raw(GuildPositionsToImageConverter.GetPosisionImage(member.GuildPosition.GetValueOrDefault(GuildPositions.Newbie)))</td>
                            }
                            else
                            {
                                <td align="center"></td>
                            }
                            <td style="vertical-align:middle"><b>@Html.DisplayFor(model => member.Name)</b></td>

                            <td style="vertical-align:middle">@Html.Raw(rankText)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="rankModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-title"></div>
            </div>
            <div class="modal-body">
                <canvas id="rankingHistoryChart" width="400" height="400"></canvas>
            </div>
        </div>

    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
                localStorage.setItem('activeTab', $(e.target).attr('href'));
            });
            var activeTab = localStorage.getItem('activeTab');
            if (activeTab) {
                $('#categoryTab a[href="' + activeTab + '"]').tab('show');
            }

            $('a[name="rankText"]').each(function () {
                $(this).on('click', function () {
                    var characterId = $(this).attr('data-id');
                    var url = $(this).attr('data-url');

                    $.ajax({
                        type: 'GET',
                        url: url,
                        data: { 'characterId': characterId },
                        dataType: 'json',
                        success: function (result) {
                            
                            $('div.modal-title').html(result.position + '&nbsp;&nbsp;<span style="font-size:22px;font-weight: bold;">' + result.name + '</span>');

                            var labels = result.ranks.map(function (e) {
                                return moment(e.date).format('YYYY-MM-DD');
                            });
                            var data = result.ranks.map(function (e) {
                                return e.ranking;
                            });

                            var ctx = document.getElementById("rankingHistoryChart");
                            var rankingHistoryChart = new Chart(ctx, {
                                type: 'line',
                                data: {
                                    labels: labels,
                                    datasets: [{
                                        data: data,
                                        label: '랭킹',
                                        fill: false,
                                        borderColor: '#c45850',
                                        backgroundColor: '#c45850',
                                    }]
                                },
                                options: {
                                    scales: {
                                        xAxes: [{
                                            type: 'time',
                                            time: {
                                                unit: 'day',
                                                unitStepSize: 7,
                                                displayFormats: {
                                                    day: 'YYYY-MM-DD'
                                                },
                                            },
                                        }],
                                        yAxes: [{
                                            gridLines: {
                                                color: "black",
                                                borderDash: [2, 5],
                                            },
                                            ticks: {
                                                min: 1,
                                                beginAtZero: true,
                                                reverse: true,
                                                callback: function (value, index, values) {
                                                    if (Math.floor(value) === value) {
                                                        return value;
                                                    }
                                                }
                                            },
                                        }]
                                    },
                                    elements: {
                                        line: {
                                            tension: 0, // disables bezier curves
                                        }
                                    }
                                }
                            });


                            $('#rankModal').modal();
                        }
                    });
                });
            });
        });            
    </script>
}